---
import { getStaticPaths } from "../../../../utils/staticPaths";
import { routes } from "../../../../routes";
import { getLocaleFromUrl, useTranslations } from "../../../../utils/i18n/utils";

import {
  projectMagicWords,
  projectMidotPowerKids,
  projectMillyCohenTales,
  projectTheViolaJourney,
  projectIntorahsante,
  projectNitzaStorytime
} from "../../../../utils/content/projects";

import Layout from "../../../../layouts/Layout.astro";
import ProjectCard from "../../../../components/ProjectCard.astro";
import Modal from '../../../../components/Modal.astro'

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);

const title = t('portfolio.multimedia.index.title');
const description = t('portfolio.multimedia.index.description');

const magicWords = projectMagicWords({ locale });
const midotPowerKids = projectMidotPowerKids({ locale });
const millyCohenTales = projectMillyCohenTales({ locale });
const theViolaJourney = projectTheViolaJourney({ locale });
const intorahsante = projectIntorahsante({ locale });
const nitzaStorytime = projectNitzaStorytime({ locale });

export { getStaticPaths };
---
<script src="/src/scripts/projects.js"></script>

<Layout title= {title} description={description} active="portfolio">
  <section id="multimedia" class="section projects">
    <ol class="breadcrumb">
      <li>
        <a href={routes.root({ locale })} class="text-subtitle">
          {t('breadcrumb.home')}
        </a>
      </li>
      <li>
        <a href={routes.portfolio.root({ locale })} class="text-subtitle">
          {t('breadcrumb.portfolio')}
        </a>
      </li>
      <li>
        <span> {t('breadcrumb.multimedia')}</span>
      </li>
    </ol>

    <div class="title">
      <p class="text-title text-uppercase">{t('portfolio.multimedia.title')}</p>
      <h4 class="text-large">{t('portfolio.multimedia.subtitle')}</h4>
    </div>

    <div class="content">
      <ul class="projects-cards">
        <li>
          <ProjectCard
            imageSrc={magicWords.imageSrc}
            name={magicWords.name}
            summary={magicWords.summary}
            year={magicWords.year}
            client={magicWords.client}
            projectUrl={magicWords.projectUrl}
            videoUrl={magicWords.videoUrl} />
        </li>
        <li>
          <ProjectCard
            imageSrc={millyCohenTales.imageSrc}
            name={millyCohenTales.name}
            summary={millyCohenTales.summary}
            year={millyCohenTales.year}
            client={millyCohenTales.client}
            projectUrl={millyCohenTales.projectUrl}
            videoUrl={millyCohenTales.videoUrl} />
        </li>
        <li>
          <ProjectCard
            imageSrc={midotPowerKids.imageSrc}
            name={midotPowerKids.name}
            summary={midotPowerKids.summary}
            year={midotPowerKids.year}
            client={midotPowerKids.client}
            projectUrl={midotPowerKids.projectUrl}
            videoUrl={midotPowerKids.videoUrl} />
        </li>
        <li>
          <ProjectCard
            imageSrc={theViolaJourney.imageSrc}
            name={theViolaJourney.name}
            summary={theViolaJourney.summary}
            year={theViolaJourney.year}
            client={theViolaJourney.client}
            projectUrl={theViolaJourney.projectUrl}
            videoUrl={theViolaJourney.videoUrl} />
        </li>
        <li>
          <ProjectCard
            imageSrc={intorahsante.imageSrc}
            name={intorahsante.name}
            summary={intorahsante.summary}
            year={intorahsante.year}
            client={intorahsante.client}
            projectUrl={intorahsante.projectUrl}
            videoUrl={intorahsante.videoUrl} />
        </li>
        <li>
          <ProjectCard
            imageSrc={nitzaStorytime.imageSrc}
            name={nitzaStorytime.name}
            summary={nitzaStorytime.summary}
            year={nitzaStorytime.year}
            client={nitzaStorytime.client}
            projectUrl={nitzaStorytime.projectUrl}
            videoUrl={nitzaStorytime.videoUrl} />
        </li>
      </ul>
    </div>
  </section>

  <Modal />
</Layout>
