---
import ArrowBackIosNewRoundedIcon from '@mui/icons-material/ArrowBackIosNewRounded';
import ArrowForwardIosRoundedIcon from '@mui/icons-material/ArrowForwardIosRounded';
import PlayCircleOutlineRoundedIcon from '@mui/icons-material/PlayCircleOutlineRounded';

import { getStaticPaths } from "../../utils/staticPaths";
import { routes } from "../../routes";
import { getLocaleFromUrl, useTranslations } from "../../utils/i18n/utils";

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);

const title = t('home.title');
const description = t('home.description');

import Layout from "../../layouts/Layout.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import Modal from '../../components/Modal.astro';

const project1 = {
  imageSrc: '/projects/magic-words.jpg',
  title: 'Palabras mágicas',
  description: 'Lorem ipsum dolor sit amet',
  year: '2023',
  client: 'Tutorah Kids',
  projectUrl: routes.portfolio.project({ project: 'magic-words', locale }),
  videoUrl: 'https://www.youtube.com/watch?v=PxmXOsvjJx8'
}

const showReelUrl = 'https://www.youtube.com/watch?v=edXnSyD0NsA'

export { getStaticPaths };
---
<Layout title={title} description={description}>
  <section class="hero" slot="hero">
    <h2 class="text-xlarge" set:html={t('home.hero')} />
  </section>

  <section id="featured" class="section projects">
    <div class="title">
      <p class="text-title text-uppercase">{t('home.featured.title')}</p>
      <h4 class="text-large">{t('home.featured.subtitle')}</h4>
    </div>

    <div class="content">
      <button class="projects-prev"><ArrowBackIosNewRoundedIcon /></button>

      <ul class="projects-cards">
        <li>
          <ProjectCard
            imageSrc={project1.imageSrc}
            title={project1.title}
            description={project1.description}
            year={project1.year}
            client={project1.client}
            projectUrl={project1.projectUrl}
            videoUrl={project1.videoUrl} />
        </li>
        <li>
          <ProjectCard
            imageSrc="/projects/midot-power-kids.jpg"
            title="Midot Power Kids"
            description="Lorem Ipsum"
            year="2022"
            client="Tutorah Kids"
            projectUrl=""
            videoUrl="https://www.youtube.com/watch?v=-jO1qc-euZg" />
        </li>
        <li>
          <ProjectCard
            imageSrc="/projects/mili-cohen-tales.jpg"
            title="Cuentos de Mily Cohen"
            description="Lorem Ipsum"
            year="2021"
            client="Tutorah Kids"
            projectUrl=""
            videoUrl="https://www.youtube.com/watch?v=fYH0K5Wk6vE" />
          </li>
      </ul>

      <button class="projects-next"><ArrowForwardIosRoundedIcon /></button>
    </div>
  </section>

  <section id="show-reel" class="section show-reel">
    <div class="title">
      <p class="text-title text-uppercase">{t('home.show-reel.title')}</p>
      <h4 class="text-large">{t('home.show-reel.subtitle')}</h4>
    </div>

    <div class="content">
      <button id="video-player-button" class="video-thumbnail" data-video={showReelUrl}>
        <img src="/show-reel/2023-cover.jpg" />

        <div class="overlay video-overlay">
          <PlayCircleOutlineRoundedIcon />
        </div>
      </button>
    </div>
  </section>

  <section id="collaborations" class="section">
    <div class="title">
      <p class="text-title text-uppercase">{t('home.collaborations.title')}</p>
      <h4 class="text-large">{t('home.collaborations.subtitle')}</h4>
    </div>
  </section>

  <section id="newest" class="section projects">
    <div class="title">
      <p class="text-title text-uppercase">{t('home.newest.title')}</p>
      <h4 class="text-large">{t('home.newest.subtitle')}</h4>
    </div>
    <div class="content">
      <button class="projects-prev"><ArrowBackIosNewRoundedIcon /></button>

      <ul class="projects-cards">
        <li>
          <ProjectCard
            imageSrc={project1.imageSrc}
            title={project1.title}
            description={project1.description}
            year={project1.year}
            client={project1.client}
            projectUrl={project1.projectUrl}
            videoUrl={project1.videoUrl} />
        </li>
        <li>
          <ProjectCard
            imageSrc="/projects/midot-power-kids.jpg"
            title="Midot Power Kids"
            description="Lorem Ipsum"
            year="2022"
            client="Tutorah Kids"
            projectUrl=""
            videoUrl="https://www.youtube.com/watch?v=-jO1qc-euZg" />
        </li>
        <li>
          <ProjectCard
            imageSrc="/projects/mili-cohen-tales.jpg"
            title="Cuentos de Mily Cohen"
            description="Lorem Ipsum"
            year="2021"
            client="Tutorah Kids"
            projectUrl=""
            videoUrl="https://www.youtube.com/watch?v=fYH0K5Wk6vE" />
          </li>
      </ul>

      <button class="projects-next"><ArrowForwardIosRoundedIcon /></button>
    </div>
  </section>

  <section id="contact" class="section">
    <div class="title">
      <p class="text-title text-uppercase">{t('home.contact.title')}</p>
      <h4 class="text-large">{t('home.contact.subtitle')}</h4>
    </div>
  </section>

  <Modal />
</Layout>