---
import PlayCircleOutlineRounded from '../../components/icons/PlayCircleOutlineRounded.astro';

import { getStaticPaths } from "../../utils/staticPaths";
import { routes } from "../../routes";
import { getLocaleFromUrl, useTranslations } from "../../utils/i18n/utils";

import {
  projectMagicWords,
  projectMillyCohenTales,
  projectMidotPowerKids,
  projectTheViolaJourney,
  projectIntorahsante,
  projectNitzaStorytime,
} from '../../utils/content/projects';

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);

const title = t('home.seo.title');
const description = t('home.seo.description');

import Layout from "../../layouts/Layout.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import Modal from '../../components/Modal.astro';
import ExpandLess from '../../components/icons/ExpandLess.astro';
import ExpandMore from '../../components/icons/ExpandMore.astro';

const magicWords = projectMagicWords({ locale });
const midotPowerKids = projectMidotPowerKids({ locale });
const millyCohenTales = projectMillyCohenTales({ locale });
const theViolaJourney = projectTheViolaJourney({ locale });
const intorahsante = projectIntorahsante({ locale });
const nitzaStorytime = projectNitzaStorytime({ locale });

const showReelUrl = 'https://www.youtube.com/watch?v=edXnSyD0NsA'

export { getStaticPaths };
---
<script src="/src/scripts/projects.js"></script>
<script src="/src/scripts/video.js"></script>

<Layout title={title} description={description}>
  <section class="hero" slot="hero">
    <div>
      <h2 class="text-xlarge" set:html={t('home.hero')} />
    </div>

    <a href="#go-to-content">
      <ExpandMore />
    </a>
  </section>

  <a id="go-to-content"></a>
  <section id="featured" class="section projects">
    <div class="title">
      <p class="text-title text-uppercase">{t('home.featured.title')}</p>
      <h4 class="text-large">{t('home.featured.subtitle')}</h4>
    </div>

    <div class="content">
      <ul class="projects-cards">
        <li>
          <ProjectCard
            imageSrc={magicWords.imageSrc}
            name={magicWords.name}
            summary={magicWords.summary}
            year={magicWords.year}
            client={magicWords.client}
            projectUrl={magicWords.projectUrl}
            videoUrl={magicWords.videoUrl} />
        </li>
        <li>
          <ProjectCard
            imageSrc={millyCohenTales.imageSrc}
            name={millyCohenTales.name}
            summary={millyCohenTales.summary}
            year={millyCohenTales.year}
            client={millyCohenTales.client}
            projectUrl={millyCohenTales.projectUrl}
            videoUrl={millyCohenTales.videoUrl} />
        </li>
        <li>
          <ProjectCard
            imageSrc={midotPowerKids.imageSrc}
            name={midotPowerKids.name}
            summary={midotPowerKids.summary}
            year={midotPowerKids.year}
            client={midotPowerKids.client}
            projectUrl={midotPowerKids.projectUrl}
            videoUrl={midotPowerKids.videoUrl} />
        </li>
      </ul>
    </div>
  </section>

  <section id="show-reel" class="section show-reel">
    <div class="title">
      <p class="text-title text-uppercase">{t('home.show-reel.title')}</p>
      <h4 class="text-large">{t('home.show-reel.subtitle')}</h4>
    </div>

    <div class="content">
      <button id="video-player-button" class="video-thumbnail" data-video={showReelUrl}>
        <img src="/show-reel/2023-cover.jpg" />

        <div class="overlay video-overlay">
          <PlayCircleOutlineRounded />
        </div>
      </button>
    </div>
  </section>

  <section id="clients" class="section clients">
    <div class="title">
      <p class="text-title text-uppercase">{t('home.collaborations.title')}</p>
      <h4 class="text-large">{t('home.collaborations.subtitle')}</h4>
    </div>

    <div class="content">
      <ul class="clients-cards">
        <li class="client-card">
          <figure>
            <object data="/clients/gnius-club.svg" />
          </figure>
        </li>
        <li class="client-card">
          <figure>
            <object data="/clients/tutorah-kids.svg" />
          </figure>
        </li>
        <li class="client-card">
          <figure>
            <object data="/clients/arte-ayuda.svg" />
          </figure>
        </li>
      </ul>
    </div>
  </section>

  <section id="newest" class="section projects">
    <div class="title">
      <p class="text-title text-uppercase">{t('home.newest.title')}</p>
      <h4 class="text-large">{t('home.newest.subtitle')}</h4>
    </div>

    <div class="content">
      <ul class="projects-cards">
        <li>
          <ProjectCard
          imageSrc={theViolaJourney.imageSrc}
          name={theViolaJourney.name}
          summary={theViolaJourney.summary}
          year={theViolaJourney.year}
          client={theViolaJourney.client}
          projectUrl={theViolaJourney.projectUrl}
          videoUrl={theViolaJourney.videoUrl} />
        </li>
        <li>
          <ProjectCard
          imageSrc={intorahsante.imageSrc}
          name={intorahsante.name}
          summary={intorahsante.summary}
          year={intorahsante.year}
          client={intorahsante.client}
          projectUrl={intorahsante.projectUrl}
          videoUrl={intorahsante.videoUrl} />
        </li>
        <li>
          <ProjectCard
          imageSrc={nitzaStorytime.imageSrc}
          name={nitzaStorytime.name}
          summary={nitzaStorytime.summary}
          year={nitzaStorytime.year}
          client={nitzaStorytime.client}
          projectUrl={nitzaStorytime.projectUrl}
          videoUrl={nitzaStorytime.videoUrl} />
        </li>
      </ul>

      <div class="cta">
        <a href={routes.portfolio.root({ locale })} class="btn">
          {t('home.newest.btn')}
        </a>
      </div>
    </div>
  </section>

  <section id="contact" class="section contact-cta">
    <div class="content">
      <h4 class="text-title text-uppercase">{t('contact.header.title')}</h4>

      <p class="text-large" set:html={t('home.cta.text')} />

           <a href={routes.contact({ locale })} class="btn">
        {t('home.cta.btn')}
      </a>
    </div>
  </section>

  <div class="go-to-top">
    <a href="#" >
      <ExpandLess />
    </a>
  </div>

  <Modal />
</Layout>