---
import PlayCircleOutlineRoundedIcon from '@mui/icons-material/PlayCircleOutlineRounded';
import ImageOutlinedIcon from '@mui/icons-material/ImageOutlined';

const { imageSrc, year, client, projectUrl } = Astro.props;
const name = Astro.props.name || Astro.props.title;
const summary = Astro.props.summary || Astro.props.description;
const videoUrl = Astro.props.videoUrl;
---

<div class="project-card">
  {videoUrl &&
    <button class="project-thumbnail" data-video={videoUrl}>
      <img src={imageSrc} />

      <div class="overlay project-overlay">
        <PlayCircleOutlineRoundedIcon />
      </div>
    </button>}

  {!videoUrl &&
    <a href={projectUrl} class="project-thumbnail">
      <img src={imageSrc} />

      <div class="overlay project-overlay">
        <ImageOutlinedIcon />
      </div>
    </a>}

  <a href={projectUrl} class="project-link">
    <p>
      <span class="text-subtitle">{name}</span>
      {summary}
    </p>
  </a>

  <p class="text-small text-uppercase">{year} / {client}</p>
<div>