---
import PlayCircleOutlineRounded from './icons/PlayCircleOutlineRounded.astro';
import ImageOutlined from './icons/ImageOutlined.astro';

const { imageSrc, name, summary, year, client, projectUrl } = Astro.props;
const videoUrl = Astro.props.videoUrl;
---

<div class="project-card">
  {videoUrl &&
    <button class="project-thumbnail" data-video={videoUrl}>
      <img src={imageSrc} />

      <div class="overlay project-overlay">
        <PlayCircleOutlineRounded />
      </div>
    </button>}

  {!videoUrl &&
    <a href={projectUrl} class="project-thumbnail">
      <img src={imageSrc} />

      <div class="overlay project-overlay">
        <ImageOutlined />
      </div>
    </a>}

  <a href={projectUrl} class="project-link">
    <p>
      <span class="text-subtitle">{name}</span>
      {summary}
    </p>
  </a>

  <p class="text-small text-uppercase">{year} / {client}</p>
<div>