---
import PlayCircleOutlineRoundedIcon from '@mui/icons-material/PlayCircleOutlineRounded';
import ImageOutlinedIcon from '@mui/icons-material/ImageOutlined';

type ProjectCardProps = {
  imageSrc: string;
  title: string;
  description: string;
  year: string | number;
  client: string;
  projectUrl: string;
  videoUrl?: string;
}

const { imageSrc, title, description, year, client, projectUrl } = Astro.props;
const videoUrl = Astro.props.videoUrl;
---

<div class="project-card">
  {videoUrl &&
    <button class="project-thumbnail" data-video={videoUrl}>
      <img src={imageSrc} />

      <div class="project-overlay">
        <PlayCircleOutlineRoundedIcon />
      </div>
    </button>}

  {!videoUrl &&
    <a href={projectUrl} class="project-thumbnail">
      <img src={imageSrc} />

      <div class="project-overlay">
        <ImageOutlinedIcon />
      </div>
    </a>}

  <a href={projectUrl} class="project-link">
    <p>
      <span class="text-subtitle">{title}</span>
      {description}
    </p>
  </a>

  <p class="text-small text-uppercase">{year} / {client}</p>
<div>