---
const { slug } = Astro.params;

import { getLocaleFromUrl, useTranslations } from "../../../utils/i18n/utils";

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);

const title = t(`portfolio.project.${slug}.title`);
const description = t(`portfolio.project.${slug}.description`);

import Layout from "../../../layouts/Layout.astro";

export const getStaticPaths = async () => {
  return [
    { params: { slug: "magic-words", locale: undefined } },
    { params: { slug: "magic-words", locale: 'en' } },
    { params: { slug: "midotpowerkids", locale: undefined } },
    { params: { slug: "midotpowerkids", locale: 'en' } },
    { params: { slug: "tales-milly-cohen", locale: undefined } },
    { params: { slug: "tales-milly-cohen", locale: 'en' } },
    { params: { slug: "viola-from-newspain-to-chiapas", locale: undefined } },
    { params: { slug: "viola-from-newspain-to-chiapas", locale: 'en' } },
  ];
};
---
<Layout title={title} description={description} active="portfolio">
  <section id="header" class="section">
    <div class="title">
      <p class="text-title text-uppercase">{t(`portfolio.project.${slug}.header.title`)}</p>
      <h4 class="text-large">{t(`portfolio.project.${slug}.header.subtitle`)}</h4>
    </div>
  </section>

  <section id="sinopsis" class="section">
    <div class="title">
      <p class="text-title text-uppercase">Sinopsis</p>
      <p class="body" set:html={t(`portfolio.project.${slug}.sinopsis`)}/>
    </div>
  </section>
</Layout>
