---
import { getStaticPaths } from "../../../utils/staticPaths";
import { routes } from "../../../routes";
import { getLocaleFromUrl, useTranslations } from "../../../utils/i18n/utils";

import {
  projectMagicWords,
  projectMidotPowerKids,
  projectMillyCohenTales,
  projectTheViolaJourney,
  projectIntorahsante,
  projectNitzaStorytime,
  projectHelloAPI,
  projectIxkik
} from "../../../utils/content/projects";

import Layout from "../../../layouts/Layout.astro";
import ProjectCard from "../../../components/ProjectCard.astro";
import Modal from '../../../components/Modal.astro';
import ExpandMore from '../../../components/icons/ExpandMore.astro';

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);

const title = t('portfolio.index.title');
const description = t('portfolio.index.description');

const magicWords = projectMagicWords({ locale });
const midotPowerKids = projectMidotPowerKids({ locale });
const millyCohenTales = projectMillyCohenTales({ locale });
const theViolaJourney = projectTheViolaJourney({ locale });
const intorahsante = projectIntorahsante({ locale });
const nitzaStorytime = projectNitzaStorytime({ locale });
const helloAPI = projectHelloAPI({ locale });
const ixkik = projectIxkik({ locale });

export { getStaticPaths };
---
<script src="/src/scripts/projects.js"></script>

<Layout title= {title} description={description} active="portfolio">
  <section class="hero" slot="hero">
    <div>
      <h2 class="text-xlarge" set:html={t('portfolio.hero')}/>
    </div>

    <a href="#go-to-content">
      <ExpandMore />
    </a>
  </section>

  <a id="go-to-content"></a>
  <section id="multimedia" class="section projects">
    <div class="title">
      <p class="text-title text-uppercase">{t('portfolio.multimedia.title')}</p>
      <h4 class="text-large">{t('portfolio.multimedia.subtitle')}</h4>
    </div>

    <div class="content">
      <ul class="projects-cards">
        <li>
          <ProjectCard
            imageSrc={magicWords.imageSrc}
            name={magicWords.name}
            summary={magicWords.summary}
            year={magicWords.year}
            client={magicWords.client}
            projectUrl={magicWords.projectUrl}
            videoUrl={magicWords.videoUrl} />
        </li>
        <li>
          <ProjectCard
            imageSrc={millyCohenTales.imageSrc}
            name={millyCohenTales.name}
            summary={millyCohenTales.summary}
            year={millyCohenTales.year}
            client={millyCohenTales.client}
            projectUrl={millyCohenTales.projectUrl}
            videoUrl={millyCohenTales.videoUrl} />
        </li>
        <li>
          <ProjectCard
            imageSrc={midotPowerKids.imageSrc}
            name={midotPowerKids.name}
            summary={midotPowerKids.summary}
            year={midotPowerKids.year}
            client={midotPowerKids.client}
            projectUrl={midotPowerKids.projectUrl}
            videoUrl={midotPowerKids.videoUrl} />
        </li>
        <li>
          <ProjectCard
            imageSrc={theViolaJourney.imageSrc}
            name={theViolaJourney.name}
            summary={theViolaJourney.summary}
            year={theViolaJourney.year}
            client={theViolaJourney.client}
            projectUrl={theViolaJourney.projectUrl}
            videoUrl={theViolaJourney.videoUrl} />
        </li>
        <li>
          <ProjectCard
            imageSrc={intorahsante.imageSrc}
            name={intorahsante.name}
            summary={intorahsante.summary}
            year={intorahsante.year}
            client={intorahsante.client}
            projectUrl={intorahsante.projectUrl}
            videoUrl={intorahsante.videoUrl} />
        </li>
        <li>
          <ProjectCard
            imageSrc={nitzaStorytime.imageSrc}
            name={nitzaStorytime.name}
            summary={nitzaStorytime.summary}
            year={nitzaStorytime.year}
            client={nitzaStorytime.client}
            projectUrl={nitzaStorytime.projectUrl}
            videoUrl={nitzaStorytime.videoUrl} />
        </li>
      </ul>

      <div class="cta">
        <a href={routes.portfolio.multimedia({ locale })} class="btn">
          {t('portfolio.btn.multimedia')}
        </a>
      </div>
    </div>
  </section>

  <section id="design" class="section projects">
    <div class="title">
      <p class="text-title text-uppercase">{t('portfolio.design.title')}</p>
      <h4 class="text-large">{t('portfolio.design.subtitle')}</h4>
    </div>

    <div class="content">
      <ul class="projects-cards">
        <li>
          <ProjectCard
            imageSrc={helloAPI.imageSrc}
            name={helloAPI.name}
            summary={helloAPI.summary}
            year={helloAPI.year}
            client={helloAPI.client}
            projectUrl={helloAPI.projectUrl}
            videoUrl={helloAPI.videoUrl} />
        </li>
        <li>
          <ProjectCard
            imageSrc={ixkik.imageSrc}
            name={ixkik.name}
            summary={ixkik.summary}
            year={ixkik.year}
            client={ixkik.client}
            projectUrl={ixkik.projectUrl}
            videoUrl={ixkik.videoUrl} />
        </li>
      </ul>

      <div class="cta">
        <a href={routes.portfolio.design({ locale })} class="btn">
          {t('portfolio.btn.design')}
        </a>
      </div>
    </div>
  </section>

  <Modal />
</Layout>